
.adminDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 85vh;
    width: 100vw;

    color: #003db0;

    background-color: #76c1e6;
}
.user {

    border: 0.1em solid #003db0;
    background-color: black;

    margin-bottom: 1em;
    padding: 1em;
    
    width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}