
.homeDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 75vh;
    width: 100vw;

    background-color: #76c1e6;
}

.rosterDesign {

    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    flex-direction: row;

}
.rosterText {
    text-align: center;
    color: blue;
}

.loadingGif {
    height: 15em;
}

.card {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;

    background-color: #76c1e6;

}