
.cardVideoDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    height: 13em;
    width: 8em;

    background-color: #2d90f2;

    color: rgb(0, 0, 0);

    border-radius: 1em;

    margin: 0.7em;
    transition: 0.2s;
}
.cardVideoDesign:hover {

    transition: 0.2s;
    background-color:#76c1e6;
}

.urlDesign {

    border: 0.1em solid #020e76;
    border-radius: 0.5em;

    height: 8em;
    width: 6em;
}
.text {

    text-align: center;
}