
.loginDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: rgb(0, 0, 0);

    height: 85vh;
    width: 100vw;

    background-color: #76c1e6;
}

.loginButtonDesign {

    height: 3em;
    width: 8em;

    background-color: #1d0be5;
    cursor: pointer;

    font-weight: bold;
    color: #000000;

    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1em;

    transition: 0.3s;
    box-shadow: -0.5px 0.5px 5px 5px #4767f2;
}

.loginButtonDesign:hover {

    transition: 0.3s;

    background-color: #00e1ff;
}