
.pictogramDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 85vh;
    width: 100vw;

    background-color:#76c1e6;

    color: rgb(0, 0, 0);

    font-weight: bolder;
}

.pictogramDetailCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50vh;
    width: 75vw;

}

.detailId {

    height: 40vh;

    border: 0.3em solid rgb(7, 26, 228);
    border-radius: 0.8em;
}

.likeDesign {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5em;
    width: 8em;

    border-radius: 1em;

    padding: 0.7em;
    margin: 1em;
    background-color: #2d90f2;

    cursor: pointer;

    transition: 0.2s;

    color: white;
}

.likeDesign:hover {
    transition: 0.2s;
    background-color: #2d90f2;
}
.namePictogram {

    font-size: 55px;
}