
.profileDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 45vh;
    width: 100vw;

    color: #003db0;

    background-color: #76c1e6;
}

.profileDesign2 {

    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 40vh;
    width: 100vw;

    color: #003db0;

    background-color: #76c1e6;
}
.dataDesign {

    color: rgb(0, 0, 0);
}
.dataDesign2 {

    padding: 30px;
    color: rgb(0, 0, 0);
}
.titulos {

    color: #003db0;
}