
.profileDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 85vh;
    width: 100vw;

    color: #003db0;

    background-color: #76c1e6;
}
.dataDesign {

    color: rgb(0, 0, 0);
}